<div class="data-store-cpn">
  <div class="delivery-option">
    <div class="center">
      <select name="sources" id="sources" class="custom-select sources" placeholder="選択してください"></select>
    </div>
  </div>
  
  <div class="data-wrapper">
  <div class="column store-introducing">
    <div class="store-introducing-text">店舗紹介文</div>
    <div class="store-introducing-desc">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</div>
  </div>
  <div class="column other-data">
    <div class="store-name">店舗名</div>
    <div class="driver">運転責任者</div>
    <div class="other-info">〒</div>
  </div>
</div>
</div>