.note-cpn ul.list-text-note{
	list-style: none;
	padding-left: 150px;
}
.note-cpn li.text-note-item i{
	font-size: 24px;
	margin-right: 4px;
}
.note-cpn span.text-note{
	font-size: 28px;
	word-break: break-all;
}
.note-cpn li.text-note-item{
	padding: 10px 0;
}
@media (max-width: 767px){
	.note-cpn ul.list-text-note{
		list-style: none;
		padding-left: 20px;
		padding-right: 10px;
	}
	 .note-cpn li.text-note-item i{
		font-size: 18px;
		margin-right: 6px;
	}
	 .note-cpn span.text-note{
		font-size: 18px;
		word-break: break-all;
	}
	 .note-cpn .check-list-content{
		padding-bottom: 0 !important;
	}
}
@media (max-width: 991px) and (min-width: 768px){
	.note-cpn ul.list-text-note{
		list-style: none;
		padding-left: 50px;
		padding-right: 20px;
	}
	 .note-cpn li.text-note-item i{
		font-size: 24px;
		margin-right: 6px;
	}
	 .note-cpn span.text-note{
		font-size: 24px;
		word-break: break-all;
	}
}
