<div class="toolbar-fixed-bottom-cpn">
  <div class="toolbar-container flex-center" style="display: none">
    <div class="flex-center">
      <div class="ask-question flex-center">ショップへ相談</div>
      <div class="favorite">
      <div class="favorite-icon">
        <div class="gf_icon-wrap"><i class="gf_icon fa fa-star"></i></div>
      </div>
      <div class="favorite-text">お気に入り</div>
    </div>
    </div>
    <div class="flex-center">
      <div class="total-price flex-center">合計：￥<span>XXX</span>（税込み）</div>
      <div class="add-to-cart flex-center">カートに入れる</div>
    </div>
  </div>
</div>