<div class="social-network-cpn">
  <div class="list-social-network">
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
    </div>
    <div class="social-network-logo">
      <div class="gf_icon-wrap"><i class="gf_icon fa fa-twitter"></i></div>
    </div>
  </div>
</div>